.formHeader {
	// height: 15vh;
	display: flex;
	align-items: center;
}

div {
	margin: 10px 0;
}

p {
	font-size: 14px;
}

ion-toolbar > p {
	margin: 0;
	white-space: pre-wrap;
	font-size: 10px;
}

ion-item {
	padding-right: 16px;
}

ion-button {
	box-sizing: content-box;
	padding: 0 16px;
	outline: none;
}

.avatar {
	margin: 0 auto 10px;
	left: 0;
	right: 0;
	width: 48px;
	height: 48px;
}

.createIcon {
	position: relative;
	top: -38px;
	left: 40px
}