<ion-content class="ion-padding">
  <div class="logoWrapper">
    <!-- <ion-img src="../../assets/belyy-list.jpeg"></ion-img> -->
    <h2>МОЁ БУДУЩЕЕ</h2>
  </div>

  <ion-text class="slogan">
    <h5>Помогаем найти своё место в жизни</h5>
  </ion-text>

  <div class="bottom">
    <ion-text>
      <p>Выберите язык</p>
    </ion-text>

    <ion-item lines="none">
      <ion-segment mode="ios" value="Русский">
        <ion-segment-button value="Русский">
          <ion-label>Русский</ion-label>
        </ion-segment-button>
        <ion-segment-button value="English">
          <ion-label>English</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button routerLink="/auth" fill="clear" expand="block">
      <ion-icon name="arrow-forward-outline">
      </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>