.logoWrapper {
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	margin-top: 7vh;
	background: #bbb;
	position: relative;
}

h2 {
	position: absolute;
	width: 114px;
	margin: 0;
	bottom: 50%;
	transform: translateY(50%);
	right: 0;
}

.slogan h5 {
	width: 200px;
	left: 0;
	right: 0;
	margin: 16px auto 0;
	text-align: center;
}

.centerText {
	display: flex;
	justify-content: center;
	margin: 0 auto 16px;
}

.bottom {
	position: absolute;
	bottom: 0;
	width: 85%;
}