<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Достижения обучающихся
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button routerLink="/menu">
        <ion-icon color="dark" size="large" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="start">
      <ion-avatar>
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
    </ion-label>
    <ion-select interface="popover" value="1">
      <ion-select-option value="1">Классен Дмитрий</ion-select-option>
      <ion-select-option value="2">Гордиенко Денис</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card>
    <ion-item lines="none">
      <ion-card-header>
        <ion-card-subtitle>
          Вводный курс для муниципальных координаторов программ наставничества молодёжи в ТСЖ
        </ion-card-subtitle>
        <ion-text>
          <small>Средний балл 0</small>
        </ion-text>
      </ion-card-header>
      <ion-icon class="chevron" size="large" name="chevron-down-outline"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
