<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button routerLink="/edit-user" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="region">
    <ion-label class="fontLabel">
      Центральный федеральный округ
    </ion-label>
  </ion-item>
  <ion-item routerLink="region">
    <ion-label class="fontLabel">
      Северо-западный федеральный округ
    </ion-label>
  </ion-item>
  <ion-item routerLink="region">
    <ion-label class="fontLabel">
      Южный федеральный округ
    </ion-label>
  </ion-item>
  <ion-item routerLink="region">
    <ion-label class="fontLabel">
      Приволжский федеральный округ
    </ion-label>
  </ion-item>
  <ion-item routerLink="region">
    <ion-label class="fontLabel">
      Сибирский федеральный округ
    </ion-label>
  </ion-item>
  <ion-item routerLink="region">
    <ion-label class="fontLabel">
      Дальневосточный федеральный округ
    </ion-label>
  </ion-item>
  <ion-item routerLink="region">
    <ion-label class="fontLabel">
      Северо-кавказский федеральный округ
    </ion-label>
  </ion-item>
  <ion-item routerLink="region">
    <ion-label class="fontLabel">
      Уральский федеральный округ
    </ion-label>
  </ion-item>
</ion-content>
