<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button routerLink="/edit-user" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="region">
    <ion-text>
      <p>Центральный федеральный округ</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="region">
    <ion-text>
      <p>Северо-западный федеральный округ</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="region">
    <ion-text>
      <p>Южный федеральный округ</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="region">
    <ion-text>
      <p>Приволжский федеральный округ</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="region">
    <ion-text>
      <p>Сибирский федеральный округ</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="region">
    <ion-text>
      <p>Дальневосточный федеральный округ</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="region">
    <ion-text>
      <p>Северо-кавказский федеральный округ</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="region">
    <ion-text>
      <p>Уральский федеральный округ</p>
    </ion-text>
  </ion-item>
</ion-content>
