<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Ожидание регистрации
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button routerLink="/menu">
        <ion-icon color="dark" size="large" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="../../assets/icon/favicon.png"></ion-img>
  <ion-text class="ion-text-center">
    <h4>Ваш номер пользователя: 345</h4>
  </ion-text>
  <ion-text class="ion-text-center">
    <p>
      Если вы уже приобрели курс или хотите подробнее узнать о регистрации и покупке курсов. Вы можете написать в тех поддержку.
    </p>
  </ion-text>
  
  <ion-button routerLink="/learn-material" shape="round" expand="block" class="ion-no-padding">Ознакомиться с курсами</ion-button>
  <ion-button routerLink="/menu/chat/chatting" expand="block" class="ion-padding" fill="clear">Написать в техподдержку</ion-button>
</ion-content>
