

.formHeader {
	padding-right: 140px;
	white-space: pre-wrap;
}

.logoWrapper {
	width: 100px;
	height: 100px;
}

ion-button {
	box-sizing: content-box;
	padding: 0 16px;
}

.iconBtn {
	transform: translateX(90px);
}

.form {
	position: absolute;
	bottom: 0;
}