<ion-content>
  <ion-list lines="full">
    <ion-item lines="none" class="logoWrapper">
      <ion-img class="logo" src="../../assets/icon/favicon.png"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label class="formHeader">
        Войдите или зарегистрируйтесь, чтобы продолжить
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Пароль"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button routerLink="/menu" class="ion-padding-horizontal" shape="round" expand="block">
    Войти
    <ion-icon class="iconBtn" slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="/reg" expand="block" class="ion-padding" fill="clear">
    Зарегистрироваться
  </ion-button>
</ion-footer>