<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Пользовательское соглашение
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label>
        <h5>1. Термины, используемые в соглашении</h5>
        <ion-text color="medium">
          <p>Компания - Чередилина Мария Юрьевна</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, neque!</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique saepe rerum, esse consequuntur eum qui, quis quia optio fugiat reprehenderit accusamus, beatae nostrum magnam deleniti.</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate quidem voluptates officiis tenetur provident ea obcaecati deleniti, expedita velit laboriosam voluptate, et est veniam ullam!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium praesentium illo labore quod debitis sequi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium praesentium illo labore quod debitis sequi.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h5>2. Общие положения</h5>
        <ion-text color="medium">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, neque!</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique saepe rerum, esse consequuntur eum qui, quis quia optio fugiat reprehenderit accusamus, beatae nostrum magnam deleniti.</p>
          <p>Similique saepe rerum, quia optio fugiat reprehenderit accusamus, beatae nostrum magnam deleniti.</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
