<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button routerLink="/edit-user/federal" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Пензенская область
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Пермский край
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Самарская область
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Саратовская область
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Республика Татарстан
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Удмуртская республика
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Ульяновская область
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Чувашская республика
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Республика Башкортостан
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Кировская область
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Республика Марий Эл
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Республика Мордовия
    </ion-label>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-label class="fontLabel">
      Нижегородская область
    </ion-label>
  </ion-item>
</ion-content>
