<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button routerLink="/edit-user/federal" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Пензенская область</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Пермский край</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Самарская область</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Саратовская область</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Республика Татарстан</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Удмуртская республика</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Ульяновская область</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Чувашская республика</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Республика Башкортостан</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Кировская область</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Республика Марий Эл</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Республика Мордовия</p>
    </ion-text>
  </ion-item>
  <ion-item routerLink="/edit-user">
    <ion-text>
      <p>Нижегородская область</p>
    </ion-text>
  </ion-item>
</ion-content>
