<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Регистрация пользователя
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="email" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Пароль"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Повторите пароль"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>
          Соглашаюсь с <a routerLink="/agreement">условиями</a>
        </p>
      </ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>Подтверждаю, что являюсь лицом старше 14 лет</p>
      </ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button routerLink="/auth" shape="round" expand="block">
    Зарегистрироваться
  </ion-button>
  <ion-button routerLink="/auth" expand="block" fill="clear">
    Отмена
  </ion-button>
</ion-footer>