.pre-wrap {
	white-space: pre-wrap;
}

.smallFont {
	font-size: small;
}

ion-button, ion-card, ion-toolbar,
ion-title, ion-grid, ion-row, ion-col {
	outline: none;
}

ion-text {
	font-size: 14px;
}

.my-custom-class .modal-wrapper {
	width: 90%;
	height: 30%;
	position: absolute;
	border-radius: 6px;
	top: 15px;
}